@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

@layer base {
  @font-face {
    font-family: "coolvetica rg";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/coolvetica rg.otf") format("otf");
  }
}
